<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagos</title>
</head>
<body>
    <h1>Realizar Pagos</h1>
    <form>
        <label for="monto">Monto a Pagar:</label>
        <input type="number" id="monto" name="monto" required />
        <br />
        <button type="submit">Pagar</button>
    </form>
    <a href="/dashboard">Volver</a>
</body>
</html>
